# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Python environment
.Python
.venv/
venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Jupyter notebook
*.ipynb

# Local development
tests/
run.bat
